@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css");

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
      url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
max-width: 100vw;
overflow: hidden;
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
}

body {
font-family: 'Circular Std Book',Reader,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
font-weight: 500;
max-width: 100vw;
overflow-x: hidden;
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
color: #6D6E71;
font-size: 1.125rem;
line-height: 1.25;
position: relative;
}

.grid-container.fluid {
  padding-right: 50px;
  padding-left: 50px;
}

.animation-wrapper {
display: block;
}

.animation-wrapper.padme {
padding: 0 23%;
}

body.blue {
background-color: #003DFF;
}

body.black {
background-color: #000;
color: #fff;
}

body.pink {
background-color: #F177AE;
}

section.white {
background-color: #fff;
margin: 0 15px 15px 15px;
color: #6D6E71;
}

.space-min {
margin-top: 20px;
}

.space {
margin-top: 40px;
}

.breadcrumbs a, a {
color: #003DFF;
}

.breadcrumbs a:hover, a:hover {
color: #E52823;
text-decoration: none;
}

a.blur, a.bluron {
-webkit-filter: blur(10px);
filter: blur(10px);
transition: transform 500ms ease;
}

a.blur:hover {
-webkit-filter: blur(0px);
filter: blur(0px);
}

.invisible { visibility: hidden; }

.bold {
font-weight: 700;
}

p {
line-height: 1.25;
}

address {
font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
font-family: 'Circular Std Book',Reader,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
font-weight: 400;
color: #000;
line-height: 1.25;
}

h1 {
font-size: 4.5rem;
}

h2 {
font-size: 3.25rem;
}

h3 {
font-size: 2.25rem;
}

h4 {
font-size: 1.5rem;
}

h6 {
font-size: 1.125rem;
}

.inverse {
color: #fff;
}

.focus {
color: #F177AE;
}

.suplight {
color: #E6E7E8;
}

.light {
color: #BCBEC0;
}

.med {
color: #6D6E71;
}

.dark {
color: #000;
}

.red {
color: #E52823;
}

.pinkie {
color: #F177AE;
}

.button {
font-family: 'Circular Std Book',Reader,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
border-radius: 5px;
}

.button.primary {
background: #003DFF;
color: #fff;
}

.button.primary:hover {
background: #E52823;
}

.contact .button.primary:hover {
background: #F177AE;
}

.button.secondary {
background: #E8CAAF;
color: #fff;
}

.button.secondary:hover {
background: #495F6D;
}

.button.transparent {
background: none;
border: 1px solid #fff;
color: #fff;
padding: 20px 50px;
}

.brandmark {
position: absolute;
top: 50px;
left: 50px;
width: 125px;
z-index: 1;
}

.menu {
position: absolute;
top: 50px;
right: 50px;
width: 50px;
cursor: pointer;
}

body.black .menu, body.blue .menu, body.pink .menu {
fill: #fff;
}

header {
padding: 10px 0;
}

div.header-fixed {
position: fixed;
height: 100px;
top: 0;
left: 0;
width: 100%;
z-index: 50;
}

div.header-fixed .logo {
display: block;
height: 150px;
width: 150px;
margin: 15px;
background: url('/img/logo/logo-small-black.svg') center top / 100px 100px no-repeat;
}

div.header-fixed .menu
{
fill: #000000;
}

div.header-fixed .first .logo
{
background: url('/img/logo/full-logo.svg') center / 120px 120px no-repeat;
margin: 30px;
}

div.header-fixed .first-dark .logo
{
background: url('/img/logo/full-logo-white.svg') center / 120px 120px no-repeat;
margin: 30px;
}
div.header-fixed .first-dark .menu
{
fill: #FFFFFF;
}

div.header-fixed .dark .logo
{
background: url('/img/logo/logo-small-white.svg') center top / 100px 100px no-repeat;
}

div.header-fixed .dark .menu
{
fill: #FFFFFF;
}

nav {
position: fixed;
right: 0;
bottom: 0;
top: 0;
width: 50%;
background: #F177AE;
padding: 30px;
z-index: 100;
transform: translateX(100%);
transition: transform 500ms ease;
}

body.nav-open nav { 
transform: translateX(0); 
}

nav a.close {
color: #fff;
position: absolute;
top: 15px;
left: 30px;
font-size: 4rem;
transition: color 250ms ease;
}

nav a.close:hover {
color: #E52823;
}

nav ul {
list-style: none;
margin: 75px 0 0 100px;
}

nav ul li a {
color: #fff;
display: inline-block;
font-size: 4rem;
transition: color 250ms ease;
text-decoration: none;
line-height: 1.4;
}

nav ul li a:hover {
color: #E52823;
}

section.hero {
background-size: cover;
background-position: center;
position: relative;
}

section.hero.full {
  height: 102vh;	
}

section.hero.full h1 {
margin-top: 25%;
z-index: 100;
}

section.hero.short {
padding: 250px 0 125px;
}

section.hero p {
font-size: 2.25rem;
}

section.hero.home {
border-bottom: 13px solid #003DFF;
overflow-x: hidden;
}

section.hero.home lottie-player {
margin-bottom: -10px;
}

section.hero.home h1 {
position: absolute;
top: 40%;
left: 50px;
}

section.hero h1 {
max-width: 1000px;
}

section.hero.clean {
background-image: url(../img/hero-clean-age.png);
}

section.hero.innovation {
background-image: url(../img/hero-innovation.jpg);
}

section.mission {
padding: 200px 0 0 0;
font-size: 4.5rem;
color: #000;
}

section.mission p {
max-width: 1600px;
}

section.services {
padding: 200px 0;
}

section.services .service {
padding: 0 10px 0 0; 
}

section.services .animation-wrapper {
margin-bottom: 20px;
}

section.services hr {
border-bottom: 3px solid #003DFF;
}

section.process {
background: #000;
padding: 400px 0 200px 0;
color: #fff;
}

section.process h2 {
margin-bottom: 120px;
}

section.process h3 {
margin-bottom: 20px;
}

section.ventures {
padding: 100px 0;
}

section.ventures h2 {
margin-bottom: 40px;
}

section.ventures .venture {
padding: 200px 50px 400px 50px;
background-position: center center;
background-size: cover;
}

section.ventures .slick-slide {
position: relative;
}

section.ventures .iteration {
font-size: 4rem;
position: absolute;
top: 50px;
left: 50px;
}

section.ventures .venture-slider p.title {
font-size: 4rem;
line-height: 1.2;
position: absolute;
top: 50px;
left: 30%;
}

section.ventures .venture-slider .details {
padding: 250px 50px 50px 50px;
background: #fff;
position: absolute;
top: 0px;
bottom: 0px;
right: 10%;
width: 400px;
}

section.ventures .venture-slider .details.flip {
padding: 250px 50px 50px 50px;
background: #000;
position: absolute;
top: 0px;
bottom: 0px;
right: 10%;
width: 400px;
color: #fff;
}

section.know {
padding: 0 0 100px 0;
}

section.know img, section.know .animation-wrapper {
margin-bottom: 20px;
max-width: 335px;
}

section.know img {
margin-bottom: 20px;
}

section.know p {
max-width: 300px;
}

section.clients {
padding: 100px 0;
background: #f2f2f2;
}

section.clients .client {
align-items: center;
display: flex;
justify-content: center;
}

section.clients h2 {
margin-bottom: 100px;
}

section.clients .client {
text-align: center;
padding: 50px 25px;
}

section.border {
background: rgb(229,40,35);
background: linear-gradient(90deg, rgba(229,40,35,1) 0%, rgba(229,40,35,1) 50%, rgba(241,119,174,1) 50%, rgba(241,119,174,1) 100%);
height: 8px;
}

section.what {
padding: 100px 0
}

section.what .client-logo {
max-width: 150px;
}

section.what .offer {
padding: 100px 0
}

section.what .offer img {
width: 450px;
}

section.explanation {
padding: 0 0 200px 0;
border-bottom: 13px solid #003DFF;
}

section.explanation .item {
padding: 0 20px;
}

section.explanation .item h6 {
margin-top: 20px;
}

section.explanation .item p {
min-height: 150px;
}

section.actions {
padding: 200px 0;
}

section.actions .action {
padding-right: 20px;
}

section.actions .action img {
margin-bottom: 20px;
}

section.chips {
padding: 200px 0;
}

section.border-blue {
border-bottom: 13px solid #003DFF;
}

section.chips .chip {
padding: 0 20px 100px 0;
position: relative;
}

section.chips .chip img {
margin-bottom: 20px;
}

section.chips .chip img:nth-child(2)
{
top: 0;
left: 0;
position: absolute;
opacity: 0;
width: calc(100% - 20px);
}

section.chips .chip img:nth-child(2):hover
{
opacity: 1;
}

section.chips .chip p {
margin-bottom: 0;
}

section.chips .chip .bio {
max-height: 0;
transition: max-height 500ms ease;
overflow: hidden;
font-size: 1rem;
padding-top: 10px;
}

section.chips .chip .bio.open {
max-height: 2000px;
}

.masonary img {
padding: 10px;
width: 100%;
}

section.contact {
padding: 250px 0 100px 0;
color: #fff;
position: relative;
}

section.contact.split {
background: rgb(229,40,35);
background: linear-gradient(90deg, rgba(229,40,35,1) 0%, rgba(229,40,35,1) 50%, rgba(241,119,174,1) 50%, rgba(241,119,174,1) 100%);
}

section.contact .wondering {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  background: #E52823;
  border-radius: 180px;
  height: 150px;
  margin-top: -150px;
}

section.error {
padding: 250px 0 100px 0;
background-image: url(../img/404.gif);
}

section.article {
padding: 100px 0 40px 0;
}

section.article img {
width: 100%;
}

section.article .cite {
padding: 50px;
}

section.article .cite .quote {
font-size: 2.5rem;
}

section.our-process {
background: #F2F2F2;
padding: 100px 0;
margin-bottom: 30px;
}

footer {
padding: 100px 0 50px 0;
color: #BCBEC0;
background: #000;
font-size: 1rem;
}

footer address {
line-height: 1.25;
}

footer form {
margin: 20px 100px 0 0;
}

footer .lead {
font-size: 2.75rem;
}

footer p.type {
height: 250px;
padding-right: 40px;
margin-top: -15px;
}

footer h5 {
color: #fff;
margin-bottom: 20px;
font-size: 1rem;
}

footer h6 {
color: #fff;
font-size: 1rem;
}

footer a {
color: #BCBEC0;
}

footer a:hover {
color: #fff;
}

footer ul, footer address {
margin: 0;
padding-right: 20px;
}

footer ul li {
list-style: none;
line-height: 1.25;
margin-bottom: 5px;
}

footer .credits {
color: #6D6E71;
font-size: .75rem;
padding-top: 100px;
}

footer .animation-wrapper {
margin: -40px 0 0 -50px;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.0);
  box-shadow: inset 0 1px 2px rgba(10,10,10,.0);
  color: #fff;
}

[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px #cacaca;
  box-shadow: 0 0 0px #cacaca;
}

input::placeholder, textarea::placeholder {
  color: #fff;
}

.input-group>:first-child, .input-group>:first-child.input-group-button>* {
  border-radius: 5px;
  margin-right: 5px;
}

.input-group>:last-child, .input-group>:last-child.input-group-button>* {
  border-radius: 5px;
}

@media only screen and (max-width: 1020px) {

section.explanation .item p {
  min-height: auto;
}

section.services .service {
    padding: 0;
    margin-bottom: 40px;
}

section.services .service .animation-wrapper {
    float: left;
    margin: 5px 20px 0 0;
    height: 80px;
    width: 75px;
    display: inline;
}

section.contact .wondering {
    display: none;
}

section.contact.split {
    background: #F177AE;
}

footer .sitemap {
  margin-top: 60px;
}

}

@media only screen and (max-width: 880px) {

.brandmark {
  top: 20px;
  left: 20px;
  width: 100px;
}

.menu {
  top: 20px;
  right: 20px;
  width: 35px;
}

  section.hero {
  padding: 200px 0 100px;
}

section.hero.home {
  padding: 0;
}

section.hero.home h1 {
    top: 60%;
    font-size: 1.75rem;
    padding-right: 50px;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

section.services {
    padding: 50px 0;
}

section.services h2 {
    margin-bottom: 40px;
}

section.mission {
    padding: 50px 0 0 0;
    font-size: 2.25rem;
}

section.process {
    padding: 50px 0;
}

section.process h2 {
    margin-bottom: 20px;
}

section.process h3 {
    margin-bottom: 40px;
}

section.process .animation-wrapper {
  margin-top: 40px;
}

section.ventures {
    padding: 50px 0;
}

section.ventures h2 {
    margin-bottom: 20px;
}

section.clients {
    padding: 50px 0;
}

section.chips {
    padding: 150px 0 50px 0;
}

section.chips .chip {
    padding: 0 20px 50px 20px;
}

section.know {
    padding: 0 0 50px 0;
}

section.know a {
    margin-bottom: 40px;
    display: block;
}

section.clients h2 {
    margin-bottom: 20px;
}

section.masonary {
    padding: 0 0 50px 0;
}

section.ventures .venture {
    padding: 125px 20px;
}

section.ventures .venture .iteration {
  display: none;
}

section.ventures .venture p.title {
    font-size: 1.25rem;
    line-height: 1.15;
    background: #000;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: unset;
    left: 0;
    bottom: -20px;
}

section.ventures .venture .details {
    display: none;
}

section.hero.short {
    padding: 160px 0 60px;
}

section.what {
    padding: 0;
}

section.what .offer {
    padding: 0;
}

section.explanation {
    padding: 0 0 50px 0;
}

section.explanation .animation-wrapper {
    margin-top: 40px;
}

section.actions {
    padding: 50px 0 10px 0;
}

section.actions .action a {
    margin-bottom: 40px;
    display: block;
}

section.contact {
    padding: 150px 0 50px 0;
}

section.contact button {
    margin-bottom: 40px;
}

section.article {
  padding: 50px 0;
}

nav {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  background: #F177AE;
  padding: 30px;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 500ms ease;
}

footer {
    padding: 50px 0;
}

footer .lead {
    font-size: 1.75rem;
}

footer h5 {
  color: #fff;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 1.125rem;
}

footer p.type {
    height: 150px;
    padding-right: 0px;
}

footer form {
    margin: 0 0 0 0;
}

footer .animation-wrapper {
    margin: -100px auto 0 auto;
    width: 250px;
    display: block;
}

footer .sitemap {
  margin-top: 0px;
}

}
